body{
    font-family: 'Indie Flower', cursive;
    margin:0;
}
span{
    color:cornflowerblue;
}
h1{
    font-size: 50px;
}
h2{
    color:purple;
}
p{
    color: darkblue;
    font-weight: bold;
}
.half{
    width: 38%;
    float:left;
    margin-left: 5%;
    padding-left:3%;
    
    
}
.half img{
    width:100%;
}
.top{
   background-image:url("top-banner.png") ; 
   background-repeat: no-repeat;
}
section{
    height: 600px;
}
.link{
    text-decoration: none;
    background-color: blanchedalmond;
    padding:10px 20px;
    border-radius: 5px;
}
a:hover{
    background:cornflowerblue;
    color:yellow;
    font-size: larger;
}
.middle img{
    
    width:80%;
}
.middle{
    background-image:url("dream-bg.png") ; 
    background-repeat: no-repeat;
    background-position: right;
 }
 #m{
    color:orange;
    text-align:center;
    font-size:xx-large;
    margin-bottom: 1%;
 }
 .shadow{
     box-shadow: 10px 10px 30px gray;
     border-radius: 10px;
     height:270px;
 }
 .last{
     background-image: url("exp-bg.png");
     background-repeat: no-repeat;
     background-position:left ;
 }
 #borderred{
     border-left:7px solid;
     border-image:linear-gradient(blue,lightgreen);
     border-image-slice: 1;

 }
 #borderblue{
     border-left:7px solid;
     border-image:linear-gradient(salmon,yellow);
     border-image-slice: 1;
     border-radius: 10px;
 }
 footer{
     text-align: center;
     font-family: "Times New Roman";
 }